@use '@globals/styles/breakpoints';

.header {
	position: relative;
	min-height: var(--header-height);

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}
}