@use './breakpoints.scss';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-gray-400);
  background-color: var(--color-blue-primary);
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
