.newsletter {
	padding: 14px;
	background-color: var(--color-dark-600);
	border-radius: 10px;

	&__title {
		font-size: var(--font-size-ml);
		line-height: var(--font-line-ml);
		font-weight: 600;
		color: var(--color-white);

		+ .newsletter__form {
			margin-top: 30px;
		}
	}

	&__form {
		+ .newsletter__info {
			margin-top: 20px;
		}
	}

	&__info {
		font-size: var(--font-size-xs);
		line-height: var(--font-line-xs);
		color: var(--color-gray-300);
	}
}