@use '@globals/styles/breakpoints';

.control {
	display: flex;
	align-items: center;
	gap: 36px;

	@media (width < breakpoints.$lg) {
		justify-content: center;
	}

	&__item {
		position: relative;
	}

	&__btn {
		color: var(--color-black);
		border-radius: 50%;
		border: 1px solid currentColor;

		@media (width < breakpoints.$lg) {
			color: var(--color-white);
		}

		@media (hover: hover) {
			&:hover {
				background-color: var(--color-black);
        color: var(--color-white);

				@media (width < breakpoints.$lg) {
					background-color: var(--color-white);
					color: var(--color-black);
				}
			}
		}
	}
}