.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	width: max-content;
	max-width: 100%;
	border-radius: 8px;
	transition: var(--transition-primary);

	// theme

	&--default {
		background-color: var(--color-blue-primary);
		color: var(--color-white);

		@media (hover: hover) {
			&:hover {
				background-color: #468BFF;
			}
		}
	}
	&--white {
		background-color: var(--color-white);
		color: var(--color-blue-primary);

		@media (hover: hover) {
			&:hover {
				background-color: #dedede;
			}
		}
	}
	&--outline {
		border: 1px solid var(--color-blue-primary);
		background-color: transparent;
		color: var(--color-blue-primary);

		@media (hover: hover) {
			&:hover {
				background-color: var(--color-blue-primary);
        color: var(--color-white);
			}
		}
	}
	&--clear {
		background-color: transparent;
		border: none;

		&:active {
			background-color: transparent !important;
		}
	}

	// shadow

	&--shadow {
		box-shadow: 0 4px 6px var(--color-transparent-gray);
	}

	// size

	&--m {
		padding: 12px 20px;
		font-size: var(--font-size-m);
		line-height: var(--font-line-m);
		font-weight: 500;
	}
	&--l {
		padding: 20px;
		font-size: var(--font-size-ml);
		line-height: var(--font-line-ml);
		font-weight: 500;
	}
	&--text {
		padding: 0;
	}

	// fluid

	&--fluid {
		width: 100%;
	}

	// active

	&:active {
		background-color: #0A4FD9;
	}
}