@use '@globals/styles/breakpoints';

.checkbox {
	position: relative;
	cursor: pointer;

	@media (hover: hover) {
		&:hover {
			.checkbox__box:before {
				opacity: .3;
			}
		}
	}

	&--error {
		.checkbox__box {
			border-color: var(--color-red);
		}
	}

	&__input {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;

		&:checked {
			+ .checkbox__fake .checkbox__box {

				&:before {
					opacity: 1;
				}

				.checkbox__icon {
					display: block;
				}
			}
		}
	}

	&__fake {
		display: flex;
		align-items: flex-start;
		gap: 8px;
	}

	&__box {
		position: relative;
		display: block;
		flex-shrink: 0;
		width: 18px;
		height: 18px;
		border: 1px solid var(--color-blue-primary);
		border-radius: 4px;
		transition: var(--transition-primary);

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			width: 100%;
			height: 100%;
			border-radius: 2px;
			background-color: var(--color-blue-primary);
			opacity: 0;
		}
	}

	&__icon {
		position: relative;
		z-index: 1;
		display: none;
		color: var(--color-white);
	}

	&__label {
		display: block;
		font-size: var(--font-size-s);
		line-height: var(--font-line-s);
		color: var(--color-gray-400);

		@media (width < breakpoints.$md) {
			font-size: var(--font-size-xs);
			line-height: var(--font-line-xs);
		}
	}
}