@use '@globals/styles/breakpoints';

.list {
	display: flex;
	align-items: center;
	gap: 45px;

	@media (width < breakpoints.$lg) {
		align-items: flex-start;
		flex-direction: column;
		gap: 30px;
	}

	&__item {
		position: relative;

		&:hover {
			.tooltip {
				display: flex;
			}
		}
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 5px;
		color: var(--color-dark);

		@media (width < breakpoints.$lg) {
			color: var(--color-white);
		}
		@media (width < breakpoints.$md) {
			font-size: var(--font-size-s);
			line-height: var(--font-line-s);
		}

		&.active {
			color: var(--color-black);
			text-shadow: 0 0 1px currentColor;

			@media (width < breakpoints.$lg) {
				color: var(--color-white);
			}
		}

		@media (hover: hover) {
			&:hover {
				color: var(--color-black);
				text-shadow: 0 0 1px currentColor;
			}
		}
	}
}

.tooltip {
	top: 100%;
	display: none;
	flex-direction: column;
	gap: 5px;
	width: max-content;
	max-width: 100vw;
}